*{
    margin: 0px;
    padding: 0px;
}

.flag {
    position: relative;
    left: 500px;
    top: 180px;
}

.red-layer {
    height: 50px;
    width: 300px;
    background-color: red;
    text-align: center;
    font-size: 26px;
    color: white;
}

.blue-layer {
    height: 80px;
    width: 300px;
    background-color: rgb(38, 10, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    font-size: 26px;
    text-align: center;
}